#app {
    width: 450px;
    margin: auto;
    font-family: Arial, sans-serif;
  }
  
  button {
    margin-left: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin: 10px 0;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  